<article class="post">
  <div class="title">
    <h6>{{title}}</h6>
  </div>
  <div class="meta">
    {{vote_count}} point(s) by {{user.username}} on {{format_date created_at}}
    <a href="/post/{{id}}">{{format_plural "comment" comments.length}}</a>
  </div>
</article>